{% extends "core/analisisbase.html" %}
{% load static %}
{% block content %}

  <section class="contenido_analisis">
    <h2 class="titulo2">Analisis</h2>
    <p class="nombre"><strong>Name:</strong> {{ house.name }}</p>
    <section class="wats">
      <h3 class="valorwat">Valores por Watt:</h3>
        <ul>
          {% for valor_total in valor_total %}
            <li>{{ valor_total }}</li>
          {% endfor %}
        </ul>
        <h3>Valores gasto de equipo por dia:</h3>
          <ul>
            {% for dispositivo in dispositivos %}
              <li>{{ dispositivo.0 }}: {{ dispositivo.1 }}</li>
            {% endfor %}
         </ul>
    </section>
    <section class="botones">    
    <a class="valorhouse" href="{% url 'agregar_valores' house.pk %}">Agregar Valores</a>
    <h3> </h3>
    <a class="volvercasa" href="{% url 'home' %}">Regresar a casas</a>
    </section>  
  </section>
  {% endblock %}