<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}Detalles{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "core/css/detallecasa.css" %}">
</head>
<body>
    <header>
        <h1 class="titulo">Energy</h1>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        Energy &copy; 2023 Medellin, Colombia
    </footer>
    <script>
        const footer = document.querySelector('footer');

        function toggleFooter() {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                footer.style.bottom = '0';
            } else {
                footer.style.bottom = '-70px';
            }
        }

        window.addEventListener('scroll', toggleFooter);
    </script>
</body>
</html>
