<h1>House Details</h1>
<p><strong>Name:</strong> {{ house.name }}</p>
<p><strong>Area:</strong> {{ house.areaCuadrada }} mt²</p>
<a href="{% url 'update_casa' house.pk %}">Edit</a>
<form method="post" action="{% url 'delete_casa' house.pk %}">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>

<h3>Valores KWh:</h3>
  <ul>
    {% for valor_kwh in house.valores_kwh %}
      <li>{{ valor_kwh }}</li>
    {% endfor %}
  </ul>

  <h3>Valores a Pagar:</h3>
  <ul>
    {% for valor_pagar in house.valores_pagar %}
      <li>{{ valor_pagar }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'agregar_valores' house.pk %}">Agregar Valores</a>

  <h3>Todos los Dispositivos:</h3>
  <ul>
    {% for dispositivo in dispositivos %}
      <li>
        {{ dispositivo.name }} - <a href="{% url 'update_dispositivo' casa_id=house.pk pk=dispositivo.pk %}">Editar Dispositivo</a>
        <form method="post" action="{% url 'delete_dispositivo' casa_id=dispositivo.casa.id pk=dispositivo.id %}">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url 'agregar_dispositivo' house.pk %}">Agregar Dispositivo</a>

  <h3>Metas:</h3>
  <ul>
    {% for meta in metas %}
      <li>
        {{ meta.description }} - <a href="{% url 'update_meta' casa_id=house.pk pk=meta.pk %}">Editar Meta</a>
        <form method="post" action="{% url 'delete_dispositivo' casa_id=meta.casa.id pk=meta.id %}">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url 'agregar_meta' house.pk %}">Crear Meta</a>


<a href="{% url 'home' %}">Regresar a casas</a>