{% extends 'core/base.html' %}

{% block content %}
<h1>Recomendaciones</h1>

{% if house.areaCuadrada < 45 %}
    <h2>Casa pequeña</h2>
{% else %}
    {% if house.areaCuadrada >= 45 and house.areaCuadrada < 75 %}
        <h2>Casa mediana</h2>
    {% else %}
        <h2>Casa grande</h2>
    {% endif %}
{% endif %}
<p><strong>Area:</strong> {{ house.areaCuadrada }} mt²</p>

<ul>
    <li>Se recomienda apagar los dispositivos que no estes usando</li>
    <li>Poner en puntos estrategicos luces para bajar la cantidad de focos</li>
    <li>Evitar el uso de muchos dispositivos al mismo tiempo</li>
    <li>Bajar el uso del dispositivo: {{ Max.Maximo }}</li>
</ul>


<a class="boton" href="{% url 'home' %}">Regresar a casas</a>

{% endblock content %}

