
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #13005A;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    width: calc(100% - 10px);
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
}

.detallecasa {
    margin-top: 3%;
    color: #13005A;
    font-size: 24px;
}

.bloque {
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin: 3% auto;
    width: 80%;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 7%;
}

.bloque h3 {
    color: #13005A;
    font-size: 18px;
    margin-top: 10px;
}

.bloque ul {
    margin-left: 20px;
    list-style-type: disc;
}

.bloque a {
    color: #13005A;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.bloque a:hover {
    color: #260a8b;
}

button {
    background-color: #13005A;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #260a8b;
}

a {
    color: #13005A;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    transition: color 0.3s ease;
}

a:hover {
    color: #260a8b;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #e6e6e6;
}

button[type="submit"] {
    background-color: #1C82AD;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #307ea9;
}

footer {
    background-color: #1C82AD;
    color: white;
    text-align: center;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: -70px;
    line-height: 70px;
    transition: bottom 0.3s ease;
}

.botondis {
    background-color: #13005A;
}

.Editar,
.agregarvalor,
.agregardispo,
.botonmeta,
.volvercasa {
    background-color: #1C82AD;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-right: 10px;
}

.Editar:hover,
.agregarvalor:hover,
.agregardispo:hover,
.botonmeta:hover,
.volvercasa:hover {
    background-color: #307ea9;
}
